node_modules/

.firebase/

.next/

.env.local
.firebase/hosting.LmZpcmViYXNlXHRyaWxsaXVtZmluYW5jZS1lMWU4MVxob3N0aW5n.cache
.firebase/trilliumfinance-e1e81/functions/.env
.firebase/trilliumfinance-e1e81/functions/.env.example
.firebase/trilliumfinance-e1e81/functions/.env.local
.firebase/trilliumfinance-e1e81/functions/.next/app-build-manifest.json
.firebase/trilliumfinance-e1e81/functions/.next/app-path-routes-manifest.json
.firebase/trilliumfinance-e1e81/functions/.next/build-manifest.json
.firebase/trilliumfinance-e1e81/functions/.next/BUILD_ID
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development-fallback/0.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development-fallback/1.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development-fallback/index.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development-fallback/index.pack.gz.old
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development/0.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development/1.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development/2.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development/3.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development/4.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development/5.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development/6.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development/7.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development/8.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development/9.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development/index.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-development/index.pack.gz.old
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-production/0.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-production/1.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-production/10.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-production/11.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-production/2.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-production/3.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-production/4.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-production/5.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-production/6.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-production/7.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-production/8.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-production/9.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-production/index.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/client-production/index.pack.old
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/edge-server-production/0.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/edge-server-production/index.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/edge-server-production/index.pack.old
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/0.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/1.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/10.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/11.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/12.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/2.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/3.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/4.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/5.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/6.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/7.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/8.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/9.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/index.pack.gz
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-development/index.pack.gz.old
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-production/0.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-production/1.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-production/2.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-production/3.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-production/4.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-production/5.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-production/6.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-production/index.pack
.firebase/trilliumfinance-e1e81/functions/.next/cache/webpack/server-production/index.pack.old
.firebase/trilliumfinance-e1e81/functions/.next/diagnostics/build-diagnostics.json
.firebase/trilliumfinance-e1e81/functions/.next/diagnostics/framework.json
.firebase/trilliumfinance-e1e81/functions/.next/export-marker.json
.firebase/trilliumfinance-e1e81/functions/.next/images-manifest.json
.firebase/trilliumfinance-e1e81/functions/.next/next-minimal-server.js.nft.json
.firebase/trilliumfinance-e1e81/functions/.next/next-server.js.nft.json
.firebase/trilliumfinance-e1e81/functions/.next/package.json
.firebase/trilliumfinance-e1e81/functions/.next/prerender-manifest.json
.firebase/trilliumfinance-e1e81/functions/.next/react-loadable-manifest.json
.firebase/trilliumfinance-e1e81/functions/.next/required-server-files.json
.firebase/trilliumfinance-e1e81/functions/.next/routes-manifest.json
.firebase/trilliumfinance-e1e81/functions/.next/server/app-paths-manifest.json
.firebase/trilliumfinance-e1e81/functions/.next/server/app/_not-found.html
.firebase/trilliumfinance-e1e81/functions/.next/server/app/_not-found.meta
.firebase/trilliumfinance-e1e81/functions/.next/server/app/_not-found.rsc
.firebase/trilliumfinance-e1e81/functions/.next/server/app/_not-found/page.js
.firebase/trilliumfinance-e1e81/functions/.next/server/app/_not-found/page.js.nft.json
.firebase/trilliumfinance-e1e81/functions/.next/server/app/_not-found/page_client-reference-manifest.js
.firebase/trilliumfinance-e1e81/functions/.next/server/app/api/health/route.js
.firebase/trilliumfinance-e1e81/functions/.next/server/app/api/health/route.js.nft.json
.firebase/trilliumfinance-e1e81/functions/.next/server/app/api/health/route_client-reference-manifest.js
.firebase/trilliumfinance-e1e81/functions/.next/server/app/dashboard.html
.firebase/trilliumfinance-e1e81/functions/.next/server/app/dashboard.meta
.firebase/trilliumfinance-e1e81/functions/.next/server/app/dashboard.rsc
.firebase/trilliumfinance-e1e81/functions/.next/server/app/dashboard/page.js
.firebase/trilliumfinance-e1e81/functions/.next/server/app/dashboard/page.js.nft.json
.firebase/trilliumfinance-e1e81/functions/.next/server/app/dashboard/page_client-reference-manifest.js
.firebase/trilliumfinance-e1e81/functions/.next/server/app/index.html
.firebase/trilliumfinance-e1e81/functions/.next/server/app/index.meta
.firebase/trilliumfinance-e1e81/functions/.next/server/app/index.rsc
.firebase/trilliumfinance-e1e81/functions/.next/server/app/login.html
.firebase/trilliumfinance-e1e81/functions/.next/server/app/login.meta
.firebase/trilliumfinance-e1e81/functions/.next/server/app/login.rsc
.firebase/trilliumfinance-e1e81/functions/.next/server/app/login/page.js
.firebase/trilliumfinance-e1e81/functions/.next/server/app/login/page.js.nft.json
.firebase/trilliumfinance-e1e81/functions/.next/server/app/login/page_client-reference-manifest.js
.firebase/trilliumfinance-e1e81/functions/.next/server/app/page.js
.firebase/trilliumfinance-e1e81/functions/.next/server/app/page.js.nft.json
.firebase/trilliumfinance-e1e81/functions/.next/server/app/page_client-reference-manifest.js
.firebase/trilliumfinance-e1e81/functions/.next/server/app/signup.html
.firebase/trilliumfinance-e1e81/functions/.next/server/app/signup.meta
.firebase/trilliumfinance-e1e81/functions/.next/server/app/signup.rsc
.firebase/trilliumfinance-e1e81/functions/.next/server/app/signup/page.js
.firebase/trilliumfinance-e1e81/functions/.next/server/app/signup/page.js.nft.json
.firebase/trilliumfinance-e1e81/functions/.next/server/app/signup/page_client-reference-manifest.js
.firebase/trilliumfinance-e1e81/functions/.next/server/chunks/192.js
.firebase/trilliumfinance-e1e81/functions/.next/server/chunks/531.js
.firebase/trilliumfinance-e1e81/functions/.next/server/chunks/627.js
.firebase/trilliumfinance-e1e81/functions/.next/server/chunks/989.js
.firebase/trilliumfinance-e1e81/functions/.next/server/functions-config-manifest.json
.firebase/trilliumfinance-e1e81/functions/.next/server/interception-route-rewrite-manifest.js
.firebase/trilliumfinance-e1e81/functions/.next/server/middleware-build-manifest.js
.firebase/trilliumfinance-e1e81/functions/.next/server/middleware-manifest.json
.firebase/trilliumfinance-e1e81/functions/.next/server/middleware-react-loadable-manifest.js
.firebase/trilliumfinance-e1e81/functions/.next/server/next-font-manifest.js
.firebase/trilliumfinance-e1e81/functions/.next/server/next-font-manifest.json
.firebase/trilliumfinance-e1e81/functions/.next/server/pages-manifest.json
.firebase/trilliumfinance-e1e81/functions/.next/server/pages/404.html
.firebase/trilliumfinance-e1e81/functions/.next/server/pages/500.html
.firebase/trilliumfinance-e1e81/functions/.next/server/pages/_app.js
.firebase/trilliumfinance-e1e81/functions/.next/server/pages/_app.js.nft.json
.firebase/trilliumfinance-e1e81/functions/.next/server/pages/_document.js
.firebase/trilliumfinance-e1e81/functions/.next/server/pages/_document.js.nft.json
.firebase/trilliumfinance-e1e81/functions/.next/server/pages/_error.js
.firebase/trilliumfinance-e1e81/functions/.next/server/pages/_error.js.nft.json
.firebase/trilliumfinance-e1e81/functions/.next/server/server-reference-manifest.js
.firebase/trilliumfinance-e1e81/functions/.next/server/server-reference-manifest.json
.firebase/trilliumfinance-e1e81/functions/.next/server/webpack-runtime.js
.firebase/trilliumfinance-e1e81/functions/.next/standalone/package.json
.firebase/trilliumfinance-e1e81/functions/.next/standalone/server.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/178-a2679faaa99b321a.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/186-3cff55150ec017f1.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/459-346a2d13842bc853.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/4bd1b696-dbeff8f1a399bad3.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/517-81eee0555089cc95.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/537-0dd98bdcfcd60cd8.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/app/_not-found/page-ec1432d54e9e7d22.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/app/api/health/route-1bdd982f3a2c0c12.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/app/dashboard/layout-90044a12922946eb.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/app/dashboard/page-7ca2da5cb8452698.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/app/layout-7d8b0ef1efcec3b8.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/app/login/page-7422dbaac8ef2560.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/app/page-e0f20bc9ae4a2e72.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/app/signup/page-aa6121c54146404b.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/bc9e92e6-d2db05857fd814f5.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/f96e9696-a2eeb349a6f6f81a.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/framework-ea776245247693a1.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/main-4001a4aa8c17f6ff.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/main-app-309fead8bce1c5b0.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/pages/_app-abffdcde9d309a0c.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/pages/_error-94b8133dd8229633.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/polyfills-42372ed130431b0a.js
.firebase/trilliumfinance-e1e81/functions/.next/static/chunks/webpack-16359390662169bd.js
.firebase/trilliumfinance-e1e81/functions/.next/static/css/a5539812b791d90d.css
.firebase/trilliumfinance-e1e81/functions/.next/static/media/19cfc7226ec3afaa-s.woff2
.firebase/trilliumfinance-e1e81/functions/.next/static/media/21350d82a1f187e9-s.woff2
.firebase/trilliumfinance-e1e81/functions/.next/static/media/8e9860b6e62d6359-s.woff2
.firebase/trilliumfinance-e1e81/functions/.next/static/media/ba9851c3c22cd980-s.woff2
.firebase/trilliumfinance-e1e81/functions/.next/static/media/c5fe6dc8356a8c31-s.woff2
.firebase/trilliumfinance-e1e81/functions/.next/static/media/df0a9ae256c0569c-s.woff2
.firebase/trilliumfinance-e1e81/functions/.next/static/media/e4af272ccee01ff0-s.p.woff2
.firebase/trilliumfinance-e1e81/functions/.next/static/uGni38ssDPu3eHEDIITZr/_buildManifest.js
.firebase/trilliumfinance-e1e81/functions/.next/static/uGni38ssDPu3eHEDIITZr/_ssgManifest.js
.firebase/trilliumfinance-e1e81/functions/.next/trace
.firebase/trilliumfinance-e1e81/functions/.next/types/app/api/health/route.ts
.firebase/trilliumfinance-e1e81/functions/.next/types/app/dashboard/layout.ts
.firebase/trilliumfinance-e1e81/functions/.next/types/app/dashboard/page.ts
.firebase/trilliumfinance-e1e81/functions/.next/types/app/layout.ts
.firebase/trilliumfinance-e1e81/functions/.next/types/app/login/page.ts
.firebase/trilliumfinance-e1e81/functions/.next/types/app/page.ts
.firebase/trilliumfinance-e1e81/functions/.next/types/app/signup/page.ts
.firebase/trilliumfinance-e1e81/functions/.next/types/cache-life.d.ts
.firebase/trilliumfinance-e1e81/functions/.next/types/package.json
.firebase/trilliumfinance-e1e81/functions/next.config.js
.firebase/trilliumfinance-e1e81/functions/package-lock.json
.firebase/trilliumfinance-e1e81/functions/package.json
.firebase/trilliumfinance-e1e81/functions/server.js
.firebase/trilliumfinance-e1e81/hosting/404.html
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/178-a2679faaa99b321a.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/186-3cff55150ec017f1.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/459-346a2d13842bc853.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/4bd1b696-dbeff8f1a399bad3.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/517-81eee0555089cc95.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/537-0dd98bdcfcd60cd8.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/app/_not-found/page-ec1432d54e9e7d22.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/app/api/health/route-1bdd982f3a2c0c12.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/app/dashboard/layout-90044a12922946eb.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/app/dashboard/page-7ca2da5cb8452698.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/app/layout-7d8b0ef1efcec3b8.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/app/login/page-7422dbaac8ef2560.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/app/page-e0f20bc9ae4a2e72.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/app/signup/page-aa6121c54146404b.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/bc9e92e6-d2db05857fd814f5.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/f96e9696-a2eeb349a6f6f81a.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/framework-ea776245247693a1.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/main-4001a4aa8c17f6ff.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/main-app-309fead8bce1c5b0.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/pages/_app-abffdcde9d309a0c.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/pages/_error-94b8133dd8229633.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/polyfills-42372ed130431b0a.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/chunks/webpack-16359390662169bd.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/css/a5539812b791d90d.css
.firebase/trilliumfinance-e1e81/hosting/_next/static/media/19cfc7226ec3afaa-s.woff2
.firebase/trilliumfinance-e1e81/hosting/_next/static/media/21350d82a1f187e9-s.woff2
.firebase/trilliumfinance-e1e81/hosting/_next/static/media/8e9860b6e62d6359-s.woff2
.firebase/trilliumfinance-e1e81/hosting/_next/static/media/ba9851c3c22cd980-s.woff2
.firebase/trilliumfinance-e1e81/hosting/_next/static/media/c5fe6dc8356a8c31-s.woff2
.firebase/trilliumfinance-e1e81/hosting/_next/static/media/df0a9ae256c0569c-s.woff2
.firebase/trilliumfinance-e1e81/hosting/_next/static/media/e4af272ccee01ff0-s.p.woff2
.firebase/trilliumfinance-e1e81/hosting/_next/static/uGni38ssDPu3eHEDIITZr/_buildManifest.js
.firebase/trilliumfinance-e1e81/hosting/_next/static/uGni38ssDPu3eHEDIITZr/_ssgManifest.js
.firebase/trilliumfinance-e1e81/hosting/index.html
.firebase/trilliumfinance-e1e81/hosting/login.html
.firebase/trilliumfinance-e1e81/hosting/signup.html
.next/app-build-manifest.json
.next/build-manifest.json
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/app/page.js
.next/server/app/page_client-reference-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/static/chunks/app/layout.js
.next/static/chunks/webpack.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/cache-life.d.ts
